@import "../../node_modules/modern-normalize/modern-normalize.css";

:root {
  --color-logo: light-dark(#130f40, #535c68);
  --color-borderPrimary: light-dark(#eaeaea, #30363d);
  --color-brandPrimary: light-dark(#130f40, #535c68);
  --color-brandPrimaryAlt: light-dark(#30336b, #7ed6df);
  --color-textPrimary: light-dark(#3a4145, #d1d5db);
  --color-textSecondary: light-dark(#657881, #9ca3af);
  --color-textHeading: light-dark(#000000, #ffffff);
  --color-linkBlue: light-dark(#007bff, #58a6ff);
  --color-batteryLevelA: light-dark(#ff4d4f, #ff7875);
  --color-batteryLevelB: light-dark(#ffa940, #ffc069);
  --color-batteryLevelC: light-dark(#faad14, #ffc53d);
  --color-batteryLevelD: light-dark(#52c41a, #73d13d);
  --color-batteryLevelE: light-dark(#389e0d, #52c41a);
  color-scheme: light dark;
}

body {
  font-size: 1rem;
  line-height: 1.25;
  color: var(--color-textPrimary);
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3 {
  color: var(--color-textHeading);
  margin: 3rem 0 1rem;
}

h4,
h5,
h6 {
  color: var(--color-textHeading);
  margin: 1.5rem 0 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

a {
  color: var(--color-linkBlue);
  text-decoration: none;
}
a:hover {
  color: var(--color-brandPrimary);
  text-decoration: underline;
}

hr {
  border: 0;
  border-top: 1px solid var(--color-borderPrimary);
  margin: 2rem 0;
}
